.about {
  @include default-wrapper;

  height: 100vh;
  background-color: $secondary-color;
  color: $text-color-light;

  @include phone {
    height: auto;
  }

  &__container {
    display: flex;
    padding: 118px 0;

    @include phone {
      padding: 90px 0;
      flex-direction: column;
    }
  }

  &__logo {
    flex-basis: 25%;

    img {
      opacity: 0.01;

      @include phone {
        opacity: 1;
      }
    }

    @include phone {
      width: 50%;
      margin-bottom: 30px;
    }
  }

  &__description {
    flex: 1;
    padding-left: 130px;

    @include phone {
      padding-left: 0;
    }
  }

  &__title {
    font-size: 24px;
    line-height: 28px;
    font-weight: normal;
    max-width: 300px;
    margin-bottom: 30px;
    opacity: 0.1;

    @include phone {
      font-size: 21px;
      opacity: 1;
    }
  }

  &__subtitle {
    @include title-decor;

    text-transform: uppercase;
    font-weight: normal;
    font-size: 14px;
    display: flex;
    align-items: center;
    margin-bottom: 23px;
  }

  &__text {
    display: flex;
    margin-bottom: 30px;
    line-height: 1.4;

    @include phone {
      flex-direction: column;
      margin-bottom: 10px;
    }

    &-col {
      margin-right: 22px;
      max-width: 305px;

      @include phone {
        max-width: none;
        margin-right: 0;
      }
    }

    p {
      margin-bottom: 23px;
      opacity: 0.1;

      &:last-child {
        margin-bottom: 0;
      }

      @include phone {
        margin-bottom: 20px !important;
        opacity: 1;
      }
    }
  }

  &__link {
    text-transform: uppercase;

    &.cool-link::after,
    &.cool-link::before {
      background-color: #fff;
    }
  }
}
