.about {
  @include default-wrapper;

  height: 100vh;
  background-color: $secondary-color;
  color: $text-color-light;
  display: flex;
  align-items: center;
  justify-content: center;

  @include phone {
    height: auto;
    align-items: flex-start;
  }

  &__container {
    display: flex;
    // padding: 118px 0;

    @include phone {
      padding: 90px 0;
      flex-direction: column;
    }
  }

  &__logo {
    flex-basis: 25%;

    img {
      opacity: 0.00000001;
      transform: scale(1.2);

      @include phone {
        opacity: 1;
      }
    }

    @include phone {
      width: 50%;
      margin-bottom: 30px;
    }
  }

  &__description {
    flex: 1;
    padding-left: 130px;

    @include phone {
      padding-left: 0;
    }
  }

  &__title {
    font-size: 24px;
    line-height: 116%;
    font-weight: normal;
    max-width: 300px;
    margin-bottom: 30px;
    opacity: 0.00000001;

    @include phone {
      font-size: 21px;
      opacity: 1;
    }
  }

  &__subtitle {
    @include title-decor;

    text-transform: uppercase;
    font-weight: normal;
    font-size: 14px;
    display: flex;
    align-items: center;
    margin-bottom: 23px;
    opacity: 0;
    transform-origin: 0 100%;
    transform: translate(0, -100px);

    @include phone {
      opacity: 1;
      transform-origin: 0 50%;
      transform: none;
    }
  }

  &__text {
    display: flex;
    margin-bottom: 30px;
    line-height: 126%;

    @include phone {
      flex-direction: column;
      margin-bottom: 10px;
    }

    &-col {
      margin-right: 22px;
      max-width: 305px;

      @include phone {
        max-width: none;
        margin-right: 0;
      }
    }

    p {
      margin-bottom: 23px;
      opacity: 0.0000001;

      &:last-child {
        margin-bottom: 0;
      }

      @include phone {
        margin-bottom: 20px !important;
        opacity: 1;
      }
    }
  }

  &__link {
    text-transform: uppercase;
    opacity: 0;
    transform-origin: 0 100%;
    transform: translate(0, -100px);

    @include phone {
      opacity: 1;
      transform-origin: 0 50%;
      transform: none;
    }

    &.cool-link::after,
    &.cool-link::before {
      background-color: #fff;
    }
  }
}
