.cards {
  @include default-wrapper;

  padding-top: 100px;

  @include phone {
    padding-top: 60px;
  }

  &__title {
    @include section-title;

    max-width: 55%;
    letter-spacing: -0.02em;
    line-height: 90%;

    span:nth-child(4) {
      @media (max-width: $desktop-width+10) {
        margin-left: -19px;
      }

      @include phone {
        margin-left: 0;
      }
    }

    @include phone {
      max-width: none;
    }
  }

  &__description {
    display: flex;

    @include phone {
      flex-direction: column;
      margin-bottom: 30px;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    line-height: 126%;
    max-width: 405px;
    padding-left: 100px;
    opacity: 0;
    transform-origin: 0 100%;
    transform: translate(0, +100px);

    @include phone {
      padding-left: 0;
      opacity: 1;
      transform-origin: 0 50%;
      transform: none;
    }

    &-title {
      @include title-decor;

      // text-transform: uppercase;
      // display: flex;
      // align-items: center;
      margin-bottom: 15px;
    }
  }

  &__container {
    display: flex;

    @include phone {
      flex-direction: row nowrap;
      overflow-y: scroll;
    }
  }
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 26.5vw;
  // min-height: 380px;
  border: 1px solid #181818;
  // margin: 0 10px;
  padding: 20px;
  position: relative;
  flex-grow: 1;
  overflow: hidden;
  line-height: 126%;
  opacity: 0;
  transform: translate(0, 25%) skewY(-2.5deg);

  @include phone {
    min-height: 328px;
    width: 270px;
    height: auto;
    opacity: 1;
    transform: none;
  }

  &::after {
    content: '';
    width: 100%;
    height: 17px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: $primary-color;
  }

  &__top {
    display: flex;
    justify-content: space-between;
  }

  &__symbol {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #181818;
  }

  &__title {
    font-size: 24px;

    @include phone {
      font-size: 21px;
    }
  }

  &__text {
    transition: all 0.5s $easing;
    overflow: hidden;
    padding-top: 10px;
  }

  &__bottom {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0 19px 17px;
    transform: translate(0, calc(100% - 44px));
    transition: transform 0.4s $easing;

    @include phone {
      position: relative;
      transform: none;
      padding: 0;
    }

    .card:hover & {
      transform: none;
    }
  }
}
