.contact {
  position: fixed;
  background-color: rgba(24, 24, 24, 0.7);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  color: $secondary-color;
  z-index: 23;
  pointer-events: none;
  transition: opacity 700ms ease-in-out;

  @include phone {
    background-color: $primary-color;
  }

  &.show {
    opacity: 1;
    visibility: visible;
    // z-index: 16;
    pointer-events: all;
    transition: opacity 500ms $easing;

    @include phone {
      z-index: 17;
    }
  }

  &__container {
    width: 90%;
    max-width: 880px;
    background-color: $primary-color;
    padding: 27px 22px;
    position: relative;

    @include phone {
      width: 100%;
      max-width: none;
      padding: 90px 15px 15px;
    }
  }

  &__close {
    right: -80px;
    top: 0;
    position: absolute;
    width: 59px;
    height: 59px;
    border-radius: 50%;
    background-color: $primary-color;
    display: flex;
    justify-content: center;
    align-items: center;

    &::after {
      content: '';
      background-color: $primary-color;
      width: 100%;
      height: 100%;
      z-index: 1;
      border-radius: 50%;
      position: absolute;
      transform: scale(0);
      transform-origin: 50% 50%;
      transition: background-color 0.35s ease, transform 0.35s cubic-bezier(0.3, 0.86, 0.36, 0.95);
    }

    &:hover {
      &::after {
        transform: scale(1);
        background-color: $secondary-color;
      }

      .close-btn::after,
      .close-btn::before {
        background-color: $primary-color;
      }
    }

    @include phone {
      top: 35px;
      right: 15px;
      width: 50px;
      height: 50px;
      background-color: $secondary-color;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    padding: 30px 0;
  }

  &__input {
    border: none;
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(24, 24, 24, 0.3);
    outline: none;
    background-color: transparent;
    padding: 15px 0;
    width: 100%;
    color: rgba(24, 24, 24, 0.4);
    border-radius: 0;
    -webkit-appearance: none;
  }

  &__title {
    @include section-title;

    margin-bottom: 20px;
  }

  &__btn {
    margin: 30px 0 10px;
    align-self: flex-start;
  }
}

.close-btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;

  &::before,
  &::after {
    content: ' ';
    height: 25px;
    width: 1px;
    background-color: $secondary-color;

    @include phone {
      background-color: $primary-color;
    }
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}
