.cursor {
  position: absolute;
  width: 28px;
  height: 28px;
  border: 1px solid #777;
  border-radius: 50%;
  pointer-events: none;
  transition: transform 500ms ease-in-out;
  z-index: 99999;

  &.active {
    transform: scale(0.4);
    transition: transform 500ms $easing;
    border: 1px solid #777;
  }

  &.move {
    transform: skew(20deg);
    transition: transform 500ms $easing;
    animation: skew 5s infinite;
  }
}

// perspective

@keyframes skew {
  0% {
    transform: skew(5deg, 5deg);
  }

  100% {
    transform: skew(-5deg, -5deg);
  }
}
