.footer {
  @include default-wrapper;

  padding-bottom: 0;
  background-color: $secondary-color;
  color: $text-color-light;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  line-height: 1.3;
  // transform: translate(0, 100px);

  &.light {
    background-color: $primary-color;
    color: $secondary-color;

    .cool-link::after,
    .cool-link::before {
      background-color: $secondary-color;
    }
  }

  @include phone {
    padding: 30px 15px;
    height: auto;
  }

  img {
    margin-bottom: 100px;

    @include phone {
      margin-bottom: 30px;
    }
  }

  &__menu {
    border-top: 1px solid $text-color-light;
    display: flex;

    .light & {
      border-color: $secondary-color;
    }

    @include phone {
      flex-direction: column;
    }

    &-links {
      border-right: 1px solid $text-color-light;
      padding: 40px 60px 30px 0;
      width: 360px;

      .light & {
        border-color: $secondary-color;
      }

      @include phone {
        border: none;
        padding: 30px 0;
        border-bottom: 1px solid $text-color-light;
        min-width: 0;
        width: auto;
      }
    }

    &-nav {
      @include reset-list;

      display: flex;
      flex-direction: column;
      text-transform: uppercase;
      margin-bottom: 120px;

      &-item::before {
        content: "/";
        padding: 0 3px;
      }

      &-item:first-child::before {
        content: none;
      }

      @include phone {
        margin-bottom: 0;
      }
    }

    &-copyright {
      color: rgba(255, 255, 255, 0.3);

      .light & {
        color: rgba(24, 24, 24, 0.3);
      }
    }
  }

  &__contact {
    padding: 40px 120px;

    @include phone {
      padding: 30px 0;
    }

    &-text {
      margin-bottom: 23px;
      max-width: 260px;
      line-height: 17px;
    }

    &-form {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__follow {
    padding: 40px 40px 30px;
    flex: 1;
    display: flex;
    flex-direction: column;

    @include phone {
      padding: 20px 0;
    }

    &-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
    }
  }

  &__copyright {
    align-self: flex-end;
    margin-right: -40px;

    @include phone {
      align-self: start;
      padding-top: 10px;
      margin-right: 0;
    }

    &-underline {
      display: inline-block;
      border-bottom: 1px solid $text-color-light;
    }
  }

  &__social {
    @include reset-list;

    text-transform: uppercase;

    @include phone {
      margin-bottom: 50px;
    }
  }

  &__title {
    font-size: 24px;
    font-weight: normal;
    letter-spacing: -0.05em;
    margin-bottom: 22px;

    @include phone {
      font-size: 21px;
    }
  }
}

.input-email {
  border: none;
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  outline: none;
  background-color: $secondary-color;
  padding: 15px 0;
  width: 100%;
  color: rgba(255, 255, 255, 0.3);
  min-width: 320px;

  .light & {
    background-color: $primary-color;
    border-color: rgba(24, 24, 24, 0.3);
  }

  @include phone {
    min-width: auto;
  }
}

.c-fixed_target {
  position: absolute;
  top: -100vh;
  bottom: -100vh;
  right: 0;
  left: 0;
}

.c-fixed {
  position: absolute;
  top: -100vh;
  right: 0;
  left: 0;
  height: 100%;
  background-size: cover;
  background-position: center center;
  mix-blend-mode: multiply;

  html:not(.has-scroll-smooth) & {
    top: 0;
  }
}

.c-fixed_wrapper {
  position: relative;
  overflow: hidden;
  // background-color: $secondary-color;
}

@media (min-width: 1000px) {
  .c-fixed_wrapper {
    height: 100vh ;
  }
}

@media (max-width: 999px) {
  .c-fixed_wrapper {
    min-height: 100vh;
  }
}

.c-fixed_target {
  bottom: -100vh;
}

.c-fixed,
.c-fixed_target {
  position: absolute;
  top: -100vh;
  right: 0;
  left: 0;
}

.c-fixed {
  height: 100%;
  background-size: cover;
  background-position: 50%;
  mix-blend-mode: multiply;
}

.-fixed[data-scroll-section] {
  z-index: 21 !important;
}

html:not(.has-scroll-smooth) .c-fixed {
  top: 0;

  @include phone {
    position: relative;
  }
}
