:root {
  --swiper-pagination-color: #181818;
}

* {
  cursor: none;

  @include phone {
    cursor: auto;
  }
}

body {
  background: $primary-color;
  font-size: $base-font-size;
}

a {
  @include reset-link;

  opacity: 1;
  display: inline-block !important;

  &:hover {
    opacity: 0.6;
    transition: opacity 500ms ease;
  }
}

img {
  width: 100%;
  height: auto;
}

.mobile-show {
  display: none;

  @include phone {
    display: block;
  }
}

.mobile-hide {
  display: block;

  @include phone {
    display: none;
  }
}

.disable-scroll {
  overflow: hidden;
}
