.header {
  @include default-wrapper;

  position: relative;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;

  @include phone {
    padding: 15px;
  }

  &__wrapper {
    border-bottom: 1px solid $secondary-color;
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
  }

  &__logo {
    max-width: 140px;

    img {
      max-width: 140px;
      height: auto;
    }
  }

  &__navigation {
    @include reset-list;

    display: flex;

    &-item::after {
      content: '/';
      padding: 0 3px;
    }

    &-item:last-child::after {
      content: none;
    }
  }
}
