.header {
  @include default-wrapper;

  padding-bottom: 0;
  padding-top: 27px;
  position: relative;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  z-index: 16;

  @include phone {
    padding: 15px;
  }

  nav {
    padding-left: 25vw;
    flex: 1;

    @include phone {
      padding-left: 0;
    }
  }

  &__wrapper {
    border-bottom: 1px solid $secondary-color;
    display: flex;
    justify-content: space-between;
    padding-bottom: 24px;

    .podcasts-page & {
      border-color: $text-color-light;
    }
  }

  a {
    // padding: 10px 0;
  }

  &__logo {
    max-width: 140px;

    img {
      max-width: 158px;
      height: auto;
    }
  }

  &__navigation {
    @include reset-list;

    display: flex;

    &-item::after {
      content: '/';
      padding: 0 3px;
    }

    &-item:last-child::after {
      content: none;
    }
  }
}
