.intro {
  @include default-wrapper;

  height: calc(100vh - 77px);

  @include phone {
    height: auto;
  }

  &__container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include phone {
      margin-bottom: 50px;
    }
  }

  &__logo {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    height: 120px;

    img {
      opacity: 0.0001;
      width: auto;
      height: 100%;

      &.divider {
        margin-right: 30px;
      }
    }

    @include phone {
      display: none;
    }
  }

  &__bottom {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    @include phone {
      flex-flow: column-reverse;
      padding-top: 45px;
    }
  }

  &__description {
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-left: 20px;
    border-left: 1px solid $secondary-color;
    opacity: 0;
    transform-origin: 0 100%;
    transform: translate(0, 100px);

    @include phone {
      align-self: start;
      opacity: 1;
      transform-origin: 0 50%;
      transform: none;
    }

    &-quote {
      max-width: 250px;
      font-size: 24px;
      line-height: 1;
      margin-bottom: 100px;

      @include phone {
        font-size: 21px;
        margin-bottom: 30px;
      }
    }

    &-author {
      @include title-decor;

      text-transform: uppercase;
      display: flex;
      align-items: center;
    }
  }

  &__slider {
    &-controls {
      padding-right: 25px;
      display: flex;
      justify-content: flex-end;
      border: 0;
      outline: none;
      margin-bottom: 15px;

      @include phone {
        padding-right: 0;
      }

      &-btn {
        background-color: transparent;
        border: 0;
        margin: 0 5px;
        outline: none;
      }
    }
  }

  &__slider-container {
    width: 50%;
    margin-right: -30px;
    margin-bottom: -30px;
    opacity: 0;
    transform: scale(0.8);

    @include phone {
      width: 100%;
      margin: 0 0 30px;
      opacity: 1;
      transform: none;
    }

    #tns1 > .tns-item {
      font-size: 0;
    }
  }
}
