.intro {
  @include default-wrapper;

  height: calc(100vh - 77px);

  @include phone {
    height: auto;
  }

  &__container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include phone {
      margin-bottom: 70px;
    }
  }

  &__logo {
    display: table;
    border-collapse: collapse;
    border-spacing: 8px;
    width: 100%;

    &-item {
      display: table-cell;
      vertical-align: top;
      // margin-right: 8px;

      img {
        display: block;
        width: 100%;
        height: auto;
        transform: translate(0, 150px);
        padding-right: 11px;

        &.divider {
          padding-left: 30px;
        }

        @include phone {
          transform: none;
        }
      }

      &:last-child {
        img {
          padding-right: 0;
        }
      }
    }

    @include phone {
      display: none;
    }
  }

  &__bottom {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    @include phone {
      flex-flow: column-reverse;
      padding-top: 45px;
    }
  }

  &__description {
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-left: 20px;
    border-left: 1px solid $secondary-color;
    opacity: 0;
    height: 0;
    // transform-origin: 0 100%;
    // transform: translate(0, 100px);

    @include phone {
      align-self: start;
      opacity: 1;
      height: auto;
      transform-origin: 0 50%;
      transform: none;
    }

    &-photo {
      margin-bottom: 10px;
      opacity: 0;
      transform-origin: 0 100%;
      transform: translate(0, 50px);

      img {
        max-width: 77px;

        @include phone {
          opacity: 1;
          transform-origin: 0 50%;
          transform: none;
        }
      }
    }

    &-quote {
      max-width: 250px;
      font-size: 24px;
      line-height: 110%;
      margin-bottom: 186px;
      opacity: 0;
      transform-origin: 0 100%;
      transform: translate(0, 100px);

      @include phone {
        font-size: 21px;
        margin-bottom: 30px;
        opacity: 1;
        transform-origin: 0 50%;
        transform: none;
      }
    }

    &-author {
      @include title-decor;

      // text-transform: uppercase;
      // display: flex;
      // align-items: center;
      opacity: 0;
      transform-origin: 0 100%;
      transform: translate(0, 100px);
      margin-bottom: 4px;

      @include phone {
        opacity: 1;
        transform-origin: 0 50%;
        transform: none;
      }
    }

    &-position {
      margin-bottom: -3px;
      opacity: 0;
      transform-origin: 0 100%;
      transform: translate(0, 100px);

      @include phone {
        opacity: 1;
        transform-origin: 0 50%;
        transform: none;
      }
    }
  }

  &__slider {
    opacity: 0;
    transform: translate(0, +200px);

    @include phone {
      opacity: 1;
      transform: none;
    }

    &-btns {
      display: flex;
    }

    &-controls {
      padding-right: 25px;
      display: flex;
      justify-content: space-between;
      border: 0;
      outline: none;
      margin-bottom: 15px;
      opacity: 0.000001;

      @include phone {
        padding-right: 0;
        opacity: 1;
      }

      &-btn {
        background-color: transparent;
        border: 0;
        margin: 0 5px;
        outline: none;

        &.swiper-button-disabled {
          opacity: 0.5;
        }
      }
    }
  }

  &__slider-container {
    width: 50%;
    margin-right: -30px;
    margin-bottom: -30px;
    overflow: hidden;
    // max-width: 700px;

    @include phone {
      width: 100%;
      margin: 0 0 30px;
      opacity: 1;
      transform: none;
    }
  }

  .swiper-container {
    display: flex;
    flex-direction: column;
    height: 100%;

    .swiper-slide {
      display: flex;
      flex-direction: column;
      justify-content: center;
      color: white;
      position: relative;
      overflow: hidden;
    }
  }

  .swiper-wrapper {
    width: 100%;
    height: auto;
  }

  .photo-slider .img-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
}
