.intro {
  @include default-wrapper;

  height: calc(100vh - 80px);

  &__container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__bottom {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }

  &__description {
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-left: 20px;
    border-left: 1px solid $secondary-color;

    &-quote {
      max-width: 250px;
      font-size: 24px;
      line-height: 1.1;
      margin-bottom: 100px;
    }

    &-author {
      @include title-decor;

      text-transform: uppercase;
      display: flex;
      align-items: center;
    }
  }

  &__slider {
    &-controls {
      padding-right: 25px;
      display: flex;
      justify-content: flex-end;
      border: 0;
      outline: none;
      margin-bottom: 15px;

      &-btn {
        background-color: transparent;
        border: 0;
        margin: 0 5px;
        outline: none;
        cursor: pointer;
      }
    }
  }

  &__slider-container {
    width: 50%;
    margin-right: -30px;
    margin-bottom: -30px;

    #tns1 > .tns-item {
      font-size: 0;
    }
  }
}

.about {
  @include default-wrapper;

  height: 100vh;
  background-color: $secondary-color;
  color: $text-color-light;

  &__container {
    display: flex;
    padding: 118px 0;
  }

  &__logo {
    flex-basis: 25%;
  }

  &__description {
    flex: 1;
    padding-left: 130px;
  }

  &__title {
    font-size: 24px;
    line-height: 28px;
    font-weight: normal;
    max-width: 300px;
    margin-bottom: 30px;
  }

  &__subtitle {
    @include title-decor;

    text-transform: uppercase;
    font-weight: normal;
    font-size: 14px;
    display: flex;
    align-items: center;
    margin-bottom: 23px;
  }

  &__text {
    display: flex;
    margin-bottom: 30px;
    line-height: 1.4;

    &-col {
      margin-right: 22px;
      max-width: 305px;
    }

    p {
      margin-bottom: 23px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__link {
    text-decoration: underline;
    text-transform: uppercase;
  }
}

.projects {
  @include default-wrapper;

  padding-top: 137px;

  &__title {
    @include section-title;
  }

  &__slider {
    position: relative;
    letter-spacing: -0.03em;

    &-num {
      margin-bottom: 15px;
    }

    &-description {
      padding: 16px 0;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
    }

    &-info {
      padding-left: 80px;
    }

    &-item {
      padding: 0 10px;
    }

    &-nav {
      position: absolute;
      right: 0;
      display: flex;
      justify-content: flex-end;

      .projects__slider-controls-btn {
        background-color: transparent;
        border: 0;
        margin: 0 5px;
        outline: none;
        cursor: pointer;
      }

      .swiper-button-prev,
      .swiper-button-next {
        position: relative;
        width: auto;
        height: auto;
        margin: 0;
        left: auto;
        right: auto;
        top: auto;
      }
    }

    &-pagination {
      position: relative;

      &.swiper-pagination-progressbar {
        height: 1px;
      }
    }

    &-wrapper {
      margin-bottom: 70px;
    }
  }

  .swiper-button-prev::after,
  .swiper-button-next::after {
    content: none;
  }
}

.tiny-house {
  @include default-wrapper;

  &__title {
    @include section-title;
  }

  &__wrapper {
    border: solid $secondary-color;
    border-width: 1px 0;
    display: flex;
  }

  &__description {
    padding: 70px 0;
    flex-basis: 22%;
    border-right: 1px solid $secondary-color;

    &-container {
      padding-left: 20px;
      border-left: 1px solid $secondary-color;
    }

    &-quote {
      font-size: 24px;
      max-width: 250px;
      margin-bottom: 40px;
    }

    &-author {
      @include title-decor;

      text-transform: uppercase;
      display: flex;
      align-items: center;
    }
  }

  &__article {
    padding: 70px 0;
    flex: 1;
    padding-left: 110px;
    line-height: 1.4;

    &-title {
      @include title-decor;

      text-transform: uppercase;
      display: flex;
      align-items: center;
      margin-bottom: 15px;
    }

    &-text {
      max-width: 500px;
      margin-bottom: 50px;

      p {
        margin-bottom: 30px;
      }
    }

    &-link {
      text-transform: uppercase;
      text-decoration: underline;
    }

    &-subtitle {
      font-size: 24px;
      margin-bottom: 25px;
      max-width: 500px;
    }

    &-images {
      position: relative;
      margin-bottom: 57px;
    }

    &-img-big {
      max-width: 450px;
    }

    &-img-small {
      max-width: 450px;
      position: absolute;
      top: 120px;
      left: 30%;
    }
  }
}

.cards {
  @include default-wrapper;

  &__title {
    @include section-title;

    max-width: 55%;
  }

  &__description {
    display: flex;
  }

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    line-height: 1.4;
    max-width: 310px;
    padding-left: 100px;

    &-title {
      @include title-decor;

      text-transform: uppercase;
      display: flex;
      align-items: center;
      margin-bottom: 15px;
    }
  }

  &__container {
    display: flex;
  }
}

.about-me {
  @include default-wrapper;

  &__title {
    @include section-title;

    max-width: 82%;
    margin-bottom: 0;
  }

  &__subtitle {
    @include title-decor;

    text-transform: uppercase;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }

  &__container {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: -40px auto 0;
  }

  &__text {
    margin-bottom: 30px;
    padding-right: 80px;

    &-title {
      font-size: 24px;
      margin-bottom: 30px;
      padding-right: 80px;
    }
  }

  &__video-title {
    @include title-decor;

    text-transform: uppercase;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
}

.podcast {
  @include default-wrapper;

  padding-bottom: 0;

  &__title {
    @include section-title;
  }

  &__description {
    padding: 70px 0;
    flex-basis: 22%;
    border-right: 1px solid $secondary-color;

    &-title {
      @include section-title;

      margin-bottom: 30px;
    }

    &-subtitle {
      @include title-decor;

      text-transform: uppercase;
      display: flex;
      align-items: center;
      margin-bottom: 15px;
    }

    &-text {
      max-width: 230px;
    }
  }

  &__container {
    border-top: 1px solid $secondary-color;
    display: flex;
  }

  .podcasts {
    padding: 80px 0 80px 115px;
    width: 100%;

    &__list {
      @include reset-list;

      margin-bottom: 26px;
    }

    &__item {
      display: flex;
      justify-content: space-between;
      border-top: 1px solid $secondary-color;
      padding: 12px 0 20px;

      &-title {
        font-size: 24px;
        width: 340px;
      }

      &-info {
        display: flex;
        flex-direction: column;
      }
    }

    &__link {
      text-transform: uppercase;
      text-decoration: underline;
    }
  }
}
