@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin reset-link {
  text-decoration: none;
  color: inherit;
}

@mixin default-wrapper {
  padding: 30px;
  margin: 0 auto;
  width: 100%;

  @include phone {
    padding: 20px 15px;
  }
}

@mixin section-title {
  text-transform: uppercase;
  font-size: 96px;
  font-weight: normal;
  letter-spacing: -0.05em;
  margin: 0 0 60px;
  line-height: 102%;

  @include phone {
    font-size: 35px;
    margin-bottom: 30px;
  }
}

@mixin inner-title {
  text-transform: uppercase;
  font-size: 96px;
  font-style: normal;
  font-weight: normal;
  line-height: 103.4%;
  letter-spacing: -0.05em;

  @include phone {
    font-size: 35px;
    line-height: 107%;
  }

  &::before {
    content: '/';
    margin-right: 25px;

    @include phone {
      margin-right: 10px;
    }
  }
}

@mixin title-decor {
  position: relative;
  padding-left: 15px;
  text-transform: uppercase;

  &::before {
    content: '';
    position: absolute;
    display: inline-block;
    left: 0;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: $secondary-color;
    top: calc(50% - 5px);
  }
}

@mixin desktop {
  @media (min-width: $desktop-width) {
    @content;
  }
}
// 1024 < width < 1440
@mixin laptop-only {
  @media (min-width: #{$tablet-landscape-width + 1px}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}
// < 1440
@mixin laptop {
  @media (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}
// width > 1024
@mixin wider-than-tablet {
  @media (min-width: #{$tablet-landscape-width + 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: $tablet-landscape-width) {
    @content;
  }
}

@mixin wider-than-phone {
  @media (min-width: #{$phone-width + 1px}) {
    @content;
  }
}

@mixin phone {
  @media (max-width: $phone-width) {
    @content;
  }
}
