.podcast {
  @include default-wrapper;

  padding-bottom: 0;

  @include phone {
    padding-top: 40px;
    padding-bottom: 60px;
  }

  &__title {
    @include section-title;
  }

  &__line {
    &-top {
      width: 0;
      opacity: 0;
      height: 1px;
      background-color: $secondary-color;

      .podcasts-page & {
        background-color: $text-color-light;
      }

      @include phone {
        width: 100%;
      }
    }

    &-ver {
      width: 1px;
      opacity: 0;
      height: 0;
      background-color: $secondary-color;

      .podcasts-page & {
        background-color: $text-color-light;
      }

      @include phone {
        height: auto;
      }
    }
  }

  &__description {
    padding: 70px 0;
    flex-basis: 28%;
    min-width: 360px;

    @include phone {
      border: none;
      padding: 30px 0;
      min-width: 0;
    }

    &-title {
      @include section-title;

      margin-bottom: 30px;
    }

    &-subtitle {
      @include title-decor;

      text-transform: uppercase;
      display: flex;
      align-items: center;
      margin-bottom: 15px;
      opacity: 0.0001;

      @include phone {
        opacity: 1;
      }
    }

    &-text {
      max-width: 230px;
      opacity: 0.0001;
      line-height: 126%;

      @include phone {
        max-width: none;
        opacity: 1;
      }
    }
  }

  &__container {
    // border-top: 1px solid $secondary-color;
    display: flex;

    @include phone {
      flex-direction: column;
    }
  }

  .podcasts {
    padding: 80px 0 80px 115px;
    width: 100%;

    @include phone {
      padding: 0;
    }

    &__list {
      @include reset-list;

      margin-bottom: 26px;
    }

    &__item {
      display: flex;
      justify-content: space-between;
      border-top: 1px solid rgba(24, 24, 24, 0.3);
      padding: 12px 0 20px;
      position: relative;
      opacity: 0.00001;

      .podcasts-page & {
        border-color: rgba(255, 255, 255, 0.3);
      }

      @include phone {
        padding: 12px 0 50px;
        position: relative;
        opacity: 1;
      }

      &-title {
        font-size: 24px;
        width: 340px;

        @include phone {
          font-size: 21px;
        }
      }

      &-info {
        display: flex;
        flex-direction: column;

        @include phone {
          position: absolute;
          top: 40px;
          flex-direction: row;
        }
      }
    }

    &__link {
      text-transform: uppercase;
      opacity: 0.0001;

      @include phone {
        opacity: 1;
      }

      &.cool-link::after,
      &.cool-link::before {
        background-color: $secondary-color;

        .podcasts-page & {
          background-color: $text-color-light;
        }
      }
    }
  }
}

.podcasts__detail {
  padding: 0 30px;

  @include phone {
    padding: 0 15px;
  }
}

.podcasts {

  @include phone {
    padding-bottom: 60px;
  }

  &__title {
    @include inner-title;

    margin-bottom: 50px;
    margin-top: 10px;
  }

  &__intro {
    max-width: 350px;
    margin: 0 auto;
    margin-bottom: 146px;

    @include phone {
      margin-bottom: 90px;
    }

    p {
      margin-bottom: 30px;
    }
  }

  &__subtitle {
    @include title-decor;

    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    margin-bottom: 23px;
  }

  &__text-big {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 116%;
    margin-bottom: 30px;

    @include phone {
      font-size: 21px;
      line-height: 115%;
    }
  }
}

// .podcast__item {
//   padding-bottom: 90px;
// }
