.podcast {
  @include default-wrapper;

  padding-bottom: 0;
  padding-top: 100px;

  @include phone {
    padding-top: 40px;
    padding-bottom: 60px;
  }

  &__title {
    @include section-title;

    opacity: 0;
    position: relative;

    .sub {
      span:last-child:not(.invisible-word) {
        @include title-sub;
      }
    }

    .cool-link:hover {
      opacity: 1;
    }

    .cool-link::after,
    .cool-link::before {
      height: 3px;
      bottom: 15px;
      max-width: 90%;
      background-color: $secondary-color;
    }

    @include phone {
      opacity: 1;

      sub {
        font-size: 12px;
        line-height: 110.4%;
        vertical-align: top;
        padding-left: 5px;
        letter-spacing: normal;
      }
    }
  }

  &__line {
    &-top {
      width: 0;
      opacity: 0;
      height: 1px;
      background-color: $secondary-color;

      .podcasts-page & {
        background-color: $text-color-light;
      }

      @include phone {
        width: 100%;
        opacity: 1;
      }
    }

    &-ver {
      width: 1px;
      opacity: 0;
      height: 0;
      background-color: $secondary-color;
      position: absolute;
      left: 360px;
      top: 0;

      .podcasts-page & {
        background-color: $text-color-light;
      }

      @include phone {
        display: none;
      }
    }
  }

  &__description {
    padding: 70px 0;
    flex-basis: 28%;
    min-width: 360px;

    @include phone {
      border: none;
      padding: 30px 0;
      min-width: 0;
    }

    &-title {
      @include section-title;

      opacity: 0;
      margin-bottom: 30px;

      &.splitted {
        opacity: 1;
      }
      @include phone {
        opacity: 1;
      }
    }

    &-subtitle {
      @include title-decor;

      // text-transform: uppercase;
      // display: flex;
      // align-items: center;
      margin-bottom: 15px;
      opacity: 0.0001;

      @include phone {
        opacity: 1;
      }
    }

    &-text {
      max-width: 230px;
      opacity: 0.0001;
      line-height: 126%;

      @include phone {
        max-width: none;
        opacity: 1;
      }
    }
  }

  &__container {
    // border-top: 1px solid $secondary-color;
    display: flex;
    position: relative;

    @include phone {
      flex-direction: column;
    }
  }

  .podcasts {
    padding: 80px 0 100px 115px;
    width: 100%;

    @include phone {
      padding: 0;
    }

    &__list {
      @include reset-list;

      margin-bottom: 26px;

      .item {
        position: relative;
      }
    }

    &__item {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      border-top: 1px solid rgba(24, 24, 24, 0.3);
      padding: 10px 0 24px;
      position: relative;
      opacity: 0.00001;

      &:hover .cool-link {
        &::after {
          transform-origin: 0% 50%;
          transform: scaleX(1);
          transition: transform 0.35s $easing;
          transition-delay: 0.35s;
        }
      }

      .podcasts-page & {
        border-color: rgba(255, 255, 255, 0.3);
      }

      @include phone {
        padding: 12px 0 50px;
        position: relative;
        opacity: 1;
      }

      &-title {
        font-size: 24px;
        width: 340px;

        @include phone {
          font-size: 21px;
        }

        .cool-link::before {
          content: none;
        }

        .cool-link::after {
          background-color: $secondary-color;
          transition-delay: 0.05s;

          .podcasts-page & {
            background-color: $text-color-light;
          }
        }
      }

      &-info {
        flex: 1;
        display: flex;
        flex-direction: column;
        line-height: 116%;

        @include phone {
          position: absolute;
          top: 40px;
          flex-direction: row;
        }
      }
    }

    &__link {
      text-transform: uppercase;
      opacity: 0.0001;

      @include phone {
        opacity: 1;
      }

      &.cool-link::after,
      &.cool-link::before {
        background-color: $secondary-color;

        .podcasts-page & {
          background-color: $text-color-light;
        }
      }
    }
  }
}

.podcasts__detail {
  padding: 0 30px;

  @include phone {
    padding: 0 15px;
  }
}

.podcasts {
  @include phone {
    padding-bottom: 60px;
  }

  &__title {
    @include inner-title;

    margin-bottom: 50px;
    margin-top: 16px;
    opacity: 0;
    transform-origin: 0 100%;
    transform: translate(0, +100px);
    transition: transform 0.9s ease, opacity 0.7s ease;
    // transition-delay: 0.3s;

    &.is-inview {
      opacity: 1;
      transform-origin: 0 50%;
      transform: none;
    }
  }

  &__intro {
    max-width: 350px;
    // margin: 0 auto;
    margin-left: 33vw;
    margin-bottom: 146px;

    @include phone {
      margin-bottom: 90px;
      margin-left: 0;
      max-width: none;
    }

    p {
      margin-bottom: 20px;
      opacity: 0;
      transform-origin: 0 100%;
      transform: translate(0, +50px);

      &.is-inview {
        opacity: 1;
        transform-origin: 0 50%;
        transform: none;
        transition: transform 0.8s ease, opacity 0.7s ease;
        transition-delay: 0.7s;

        @for $i from 1 through 2 {
          &:nth-child(#{$i}) {
            // transition-delay: $i*0.07s;
          }
        }
      }
    }
  }

  &__subtitle {
    @include title-decor;

    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 23px;
    opacity: 0;
    transform-origin: 0 100%;
    transform: translate(0, +50px);

    &.is-inview {
      opacity: 1;
      transform-origin: 0 50%;
      transition: transform 0.8s ease, opacity 0.7s ease;
      transition-delay: 0.5s;
      transform: none;
    }

    &::before {
      background-color: $text-color-light;
    }
  }

  &__text-big {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 117%;
    margin-bottom: 30px;
    opacity: 0;
    transform-origin: 0 100%;
    transform: translate(0, +50px);

    &.is-inview {
      opacity: 1;
      transform-origin: 0 50%;
      transition: transform 0.8s ease, opacity 0.7s ease;
      transition-delay: 0.6s;
      transform: none;
    }

    @include phone {
      font-size: 21px;
      line-height: 115%;
    }
  }
}

.podcasts-page {
  .podcast__description-subtitle::before {
    background-color: $text-color-light;
  }
}
