.preloader {
  padding: 30px;
  background-color: $secondary-color;
  color: $text-color-light;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;

  &__counter {
    font-size: 24px;
  }

  &__bar-container {
    flex: 0 0 40%;
    align-self: flex-end;
    width: 60%;
  }

  &__bar {
    progress {
      width: 100%;
      height: 2px;
      -webkit-appearance: none;
      appearance: none;

      &::-webkit-progress-value {
        background-color: $text-color-light;
      }

      &::-webkit-progress-bar {
        background-color: transparent;
      }
    }
  }

  &.hide {
    opacity: 0;
    visibility: hidden;
    z-index: -1;
    transition: all 1s $easing;
  }
}
