.project-modal {
  @extend .contact;

  overflow-y: scroll;

  @include phone {
    overflow-y: scroll;
  }

  .project-modal__close {
    right: auto;
    left: -80px;
    top: 15px;

    @include phone {
      left: auto;
      right: 15px;
    }
  }

  &__slider-controls-btn {
    background-color: transparent;
    border: 0;
    margin: 0 5px;
    outline: none;
  }

  &__container {
    width: 55%;
    max-width: 740px;
    background-color: $primary-color;
    padding: 30px;
    position: relative;
    margin: auto 0;

    @include phone {
      width: 100%;
      max-width: none;
      padding: 90px 15px 15px;
      height: 100%;
      overflow-y: scroll;
    }
  }

  &__top {
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-end;

    @include phone {
    }
  }

  &__slider-container {
    margin-bottom: 18px;

    @include phone {
      padding-top: 18px;
    }
  }

  &__slider {
    .swiper-wrapper {
      @include phone {
        margin-bottom: 20px;
      }
    }

    .progress-bar {
      height: 1px;
      width: 100%;
      position: relative;
      background-color: rgba(0, 0, 0, 0.25);

      .fill {
        background-color: $secondary-color;
        width: 0;
        height: 1px;
        position: absolute;
        transition: width 600ms $easing;
      }
    }

    &-pagination {
      position: relative;
    }

  }

  &__slider-controls {
    border: 0;
    outline: none;
    display: flex;
    z-index: 2;
  }

  &__col {
    min-width: 30%;

    @include phone {
      margin-bottom: 20px;
    }
  }

  &__description {
    display: flex;
    justify-content: space-between;

    .show & {
      animation: fadein 1.5s;
    }

    @include phone {
      flex-direction: column;
    }

    p {
      margin-bottom: 18px;
      padding-left: 80px;

      @include phone {
        padding-left: 0;
      }
    }
  }

  &__info {
    margin-bottom: 30px;
    padding-left: 80px;

    @include phone {
      padding-left: 0;
    }
  }

  &__close {
    @extend .contact__close;

    a {
      width: 100%;
      height: 100%;
    }

    @include phone {
      top: 35px;
      right: 15px;
      background-color: $secondary-color;
    }
  }
}

@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}
