.projects {
  @include default-wrapper;

  padding-top: 137px;

  @include phone {
    padding-top: 90px;
  }

  &__title {
    @include section-title;
  }

  &__slider {
    position: relative;
    letter-spacing: -0.03em;

    &-num {
      margin-bottom: 15px;
    }

    &-description {
      padding: 16px 0;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;

      @include phone {
        flex-direction: column;
      }
    }

    &-info {
      padding-left: 80px;

      @include phone {
        padding-left: 0;
        padding-top: 10px;
      }
    }

    &-item {
      padding: 0 10px;

      @include phone {
        padding: 0;
      }
    }

    &-nav {
      position: absolute;
      right: 0;
      display: flex;
      justify-content: flex-end;

      .projects__slider-controls-btn {
        background-color: transparent;
        border: 0;
        margin: 0 5px;
        outline: none;
      }

      .swiper-button-prev,
      .swiper-button-next {
        position: relative;
        width: auto;
        height: auto;
        margin: 0;
        left: auto;
        right: auto;
        top: auto;
      }
    }

    &-pagination {
      position: relative;

      &.swiper-pagination-progressbar {
        height: 1px;
      }
    }

    &-wrapper {
      margin-bottom: 70px;

      @include phone {
        margin-bottom: 40px;
      }
    }
  }

  .swiper-button-prev::after,
  .swiper-button-next::after {
    content: none;
  }
}
