.row {
  margin-left: -10px;
  margin-right: -10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  opacity: 0.0001;

  @include phone {
    flex-flow: row nowrap;
    overflow-y: scroll;
    opacity: 1;
  }
}
