$primary-color: #f7f4eb;
$secondary-color: #181818;
$text-color-light: #fff;
$font: 'Aktiv Grotesk Corp';

$base-font-size: 14px;

$phone-width: 768px;
$tablet-landscape-width: 1024px;
$tablet-portrait-width: 768px;
$desktop-width: 1440px;
$easing: cubic-bezier(0.4, 0, 0, 1);
